/*웹 폰트 사용*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Raleway:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
#head{
    margin: 0.5em auto;
    font-weight: 500;
    max-width: 55em;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gps{
    display: flex;
    justify-content: flex-end;
}
.location{
    padding-top: 0.3em;
    font-size: 1.5em;
    font-style: italic;
}
.weather{
    margin: 0.5em auto;
    display: flex;
    width: 99%;
    justify-content: space-between;
}
.weatherText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
.weatherImage{
    display: flex;
    justify-content: center;
    width: 48%;
    height: 100%;
}
.temp{
    font-size: 8em;
    font-style: italic;
}
.weatherName{
    font-size: 3.5em;
    text-align: left;
    padding-left: 0.5em;
    width: 20em;
}
.date{
    margin: 0.5em auto;
    display: flex;
    width: 90%;
    font-weight: 800;
    font-size: 1.5em;
    justify-content: flex-end;
}
#main{
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    height: 100em;
    width: 55em;
}
.sun{
    margin: 0.5em auto;
    width: 85%;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(230, 244, 248);
}

.suntime{
    display:flex;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    justify-content: space-around;
}
.sunimg{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sunText{
    display: flex;
    width: 100%;
    font-size: 1.5em;
    justify-content: space-around;
}


