/*웹 폰트 사용*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Pen+Script&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Mali&display=swap');
*{
    margin: 0;
    font-family: 'Mali', cursive;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}


#head{
    margin: 0.5em auto;
    font-weight: 500;
    max-width: 55em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.gps{
    display: flex;
    justify-content: flex-end;
}
.location{
    padding-top: 0.3em;
    font-size: 2em;
    font-family: 'Nanum Pen Script', cursive;
}

.weather{
    margin: 0.5em auto;
    display: flex;
    width: 99%;
    justify-content: space-between;
}
.weatherText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}
.weatherImage{
    display: flex;
    justify-content: center;
    width: 48%;
    height: 100%;
}
.temp{
    font-size: 7em;
    font-style: italic;
}
.weatherName{
    font-size: 3.5em;
    text-align: left;
    padding-left: 0.5em;
    width: 20em;
}
.date{
    margin: 0.5em auto;
    display: flex;
    width: 90%;
    font-weight: 800;
    font-size: 1.5em;
    justify-content: flex-end;
}

#menu{
    margin: 0.5em auto;
    background-color: rgb(62, 208, 249);
    width: 55em;
    border-radius: 10px;
}
#menu > .text > div{
    transition: background-color 0.4s;
}
#menu > .text > div:hover{
    background-color: rgb(151, 226, 246);
    border-radius: 10px;
}
#menu > .text > div:active{
    background-color:rgb(44, 151, 181);
}



#mainIndex{
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    height: 100em;
    width: 55em;
    border: 1px solid red;
}
.Frame{
    margin: 1em auto;
    width: 90%;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(230, 244, 248);
}
.text{
    display:flex;
    font-size: 1.5em;
    justify-content: space-around;
    text-align: center;
}
.text > div{
    width: 23%;
}
.img{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}


.chartSet{
    overflow-x: scroll;
}
.chartSet::-webkit-scrollbar{
    width: 0.9em;
}
.chartSet::-webkit-scrollbar-thumb{
    background-color: rgb(207, 238, 246);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chartSet::-webkit-scrollbar-thumb:hover{
    background-color: rgba(240, 248, 250, 0.667);
}
.chartSet::-webkit-scrollbar-thumb:active{
    background-color:rgba(45, 251, 251, 0.641);
}
.chartSet::-webkit-scrollbar-track{
    background-color: rgb(230, 244, 248);
    border-radius: 10px;
}


#mainWarning{
    margin: 0.5em auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70em;
    width: 55em;
    border: 1px solid red;
}
button{
    width: 30%;
    height: 20%;
}




