@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Dongle&family=Gothic+A1&family=Hahmlet&family=Keania+One&family=Montserrat+Alternates&family=Open+Sans:wght@300;500&family=Press+Start+2P&display=swap');
#nav{
    min-height: 3em;
    width: 100%;
    background-color: rgb(0, 31, 39);
    position: fixed;
    display: flex;
    color: aliceblue;

}
#nav  a{
    color: aliceblue;
}
.logo{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    height: 2em;
    font-family: 'Keania One', cursive;
    background-color: rgb(73, 160, 73);
    border-radius: 30px 5px 30px 5px;
}
.menu{
    width: 80vw;
}
#header{
    margin: 0 auto;
    max-width: 70em;
    width: 100vw;
    font-weight: 700;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: #86B1E5;
    
}
.space{
    height: 6vh;
}
.head-frame{
    margin: 0 auto;
    font-size: 3em;
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}
.gps{
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}
.gps > img {
    height: 0.6em;
    width: 0.6em;
}
.location{
    font-size: 0.5em;
}
.inDateText{
    font-size: 0.3em;
}
.head-des{
    font-size: 0.5em;
    width: 20em;
    font-weight: 500;
    margin: 0.5em;
}

#main{
    height: 60vh;
    margin: 0 auto;
    background-color: #ccead8;
    max-width: 70em;
    width: 100vw;
    opacity: 0.9;

}
.main-frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-des{
    height: 20vh;
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    background-color:#313b46;
}
.main-des > div{
    margin: 0.1em 0.5em;
}
.main-cu{
    height: 20vh;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-cu > a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0a19c;
    border-radius: 30px 5px 30px 5px;
    width: 40%;
    height: 40%;
}
.main-an{
    height: 30vh;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-cu{
    margin-top: 2em;
    width: 20%;
    height: 30%;
}

#footer{
    height: 10em;
    color: aliceblue;
    background-color: rgb(0, 31, 39);
    display: flex;
    align-items: center;
}
.ftr-frame{
    margin: 0 auto;
    width: 90%;
}
.qna-title{
    font-size: 2em;
    font-weight: 700;
}



