@media all 
and (max-width: 800px){
    #coord-head{
        font-size: 2.3em;
        font-weight: 700;
    }
    #coord-msg{
        font-size: 1.3em;
        font-weight: 600;
    }
    #coord-footer{
        font-weight: 600;
        font-size: 1.3em;
        height: 5em;
    }
    #map{
        width: 100%;
        height: 30em;
    }
    
}

@media all 
and (min-width: 801px){
    #header{
        min-width: 50em;
    }
    #main{
        min-width: 50em;
    }
    #coord-head{
        font-size: 3em;
        font-weight: 700;
    }
    #coord-msg{
        font-size: 1.7em;
        font-weight: 600;
    }
    #coord-footer{
        font-weight: 600;
        font-size: 1.5em;
        height: 4em;
    }
    #map{
        width: 100%;
        height: 34em;
    }
}