.button{
    display: flex;
    justify-content: flex-end;
}
.btnF{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(230, 244, 248);
    border-radius: 10px;
}
.left,.right{
    border: 0px;
    border-radius: 5px;
    background-color: rgb(218, 216, 214);
    transition: background-color 0.3s;
}
.left:hover{
    background-color: rgb(185, 183, 181);
}
.right:hover{
    background-color: rgb(185, 183, 181);
}
.left:active{
    background-color: rgb(129, 129, 129);
}
.right:active{
    background-color: rgb(129, 129, 129);
}

.tempC{
    display: flex;
    align-items: baseline;
}
